*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

#app {
  min-height: 100vh;
  padding: $padding-app;
  font-family: 'Montserrat';
  background-color: $light-gray;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
